.switch {
    --slider-size: 75;
    --slider-color: var(--element-primary-color);
    --unchecked-color: var(--void-color);
    --checked-color: var(--active-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        --unchecked-color: var(--active-color);

        & > .text {
            color: var(--text-hover-secondary-color);
        }
    }
}

.text {
    color: var(--text-secondary-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.switch-container {
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    margin-left: 1rem;
}
